<a href="https://colab.research.google.com/github/Deepa-Mohan/Deepa-Mohan/blob/main/examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Armstrong number**

In [ ]:
n=int(input())
n1 = []
a = n//100
n1.append(a)
a1 = n%100 
b = a1//10
n1.append(b)
c = n%10
n1.append(c)
#print(n1)
if a**3+b**3+c**3 == n:
    print("True")
else:
    print("False")

153
True

**Fibonacci Series**

In [ ]:
n=int(input())
#write your code here
n1 = 0
n2 = 1
count = 0
if n<=0:
    print("Enter positive integer")
elif n==1:
    print(0)
else:
    while (count<n):
        print(n1)
        n3 = n1+n2
        n1 = n2
        n2 = n3
        count +=1

7
0
1
1
2
3
5
8

**Pascal's Triangle**

In [ ]:
n=int(input())
c = n-1
def factorial(num):
    fact = 1
    if num == 0 or num == 1:
        return 1
    else:
        for i in range(1,num+1):
            fact=fact*i
        return fact
answer = []
for i in range(0,c+1):
    o= factorial(i)
    p= factorial(c-i)
    q= factorial(c)
    a = o*p
    b = q//a
    answer.append(b)
print(answer)

8
[1, 7, 21, 35, 35, 21, 7, 1]